services:
  php: 
    build:
     context: .
     dockerfile: docker/php/Dockerfile
    volumes:
      - ./app:/var/www/html
      - ./docker/php/conf.d:/usr/local/etc/php/conf.d:ro
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    ports:
     - "80:80"
    volumes:
     - ./app:/var/www/html:ro
     - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
     - php
    restart: unless-stopped